@model IMS.DTO.TaskDTO
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>任务详情</title>
    <link rel="stylesheet" type="text/css" href="/Task/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/Task/css/main.css" />
    <link rel="stylesheet" href="/Task/css/style.css">
</head>
<body class="grey">
    <div style="background: white;padding-bottom: 1.4rem">
        <div class="top">
            <div class="wrap-white">
                <i class="backto"><a href="javascript:history.back();"></a></i>
                <div class="ptitle-white">任务详情</div>
                <!--<i class="searchi"><a href="#"></a></i>-->
            </div>
        </div>
        <div class="taskitems_content">
            <!--任务编号-->
            <div class="taskitems_content_text">
                <div class="taskitems_text">
                    <div><img src="/Task/images/tasknum.png" /></div>
                    <div class="taskitems_text_num">任务编号</div>
                </div>
                <div class="taskitems_text_n">@Model.Code</div>
            </div>
            <!--任务主题-->
            <div class="taskitems_content_text">
                <div class="taskitems_text">
                    <div><img src="/Task/images/taskthem.png" /></div>
                    <div class="taskitems_text_num">任务主题</div>
                </div>
                <div class="taskitems_text_n">@Model.Title</div>
            </div>
            <!--任务奖励-->
            <div class="taskitems_content_text">
                <div class="taskitems_text">
                    <div><img src="/Task/images/taskgifs.png" /></div>
                    <div class="taskitems_text_num">任务奖励</div>
                </div>
                <div class="taskitems_text_n"><span>@(Model.Bonus)元</span></div>
            </div>
            <!--完成条件-->
            <div class="taskitems_content_text">
                <div class="taskitems_text">
                    <div><img src="/Task/images/comp.png" /></div>
                    <div class="taskitems_text_num">完成条件</div>
                </div>
                <div class="taskitems_text_n">@Model.Condition</div>
            </div>
        </div>
        <!--其他说明-->
        <div class="taskitems_expalin">
            <div class="taskitems_text">
                <div><img src="/Task/images/imfprp.png" /></div>
                <div class="taskitems_text_num">其他说明</div>
            </div>
            <div class="taskitems_expalin_text">@Model.Explain</div>
        </div>
        <!--内容-->
        <div class="taskitems_expalin">
            <div class="taskitems_text">
                <div><img src="/Task/images/white.png" /></div>
                <div class="taskitems_text_num">内容</div>
            </div>
            <div class="taskitems_expalin_text">@Model.Content</div>
        </div>
        <!--复制按钮-->
        <div class="taskitems_copy">复制内容</div>
    </div>
    <!--按钮-->
    <div class="concact-button">接受任务</div>
    <script type="text/javascript" charset="utf-8" src="/Task/js/flexible.js"></script>
</body>
</html>